.valid input[type='email'],
.valid input[type='text'],
.valid input[type='number'] {
    border-color: green;
}

.valid .feedback {
    color: green;
}

.invalid input[type='email'],
.invalid input[type='text'],
.invalid input[type='number'] {
    border-color: red;
}

.invalid .feedback {
    color: red;
}

.formControl {
    padding: 20px;
}

.errorFeedback {
    color: red
}
